.book-page {
    flex: 1 1 300px;
    padding: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.bookImage {
    width: 40%;
}

.bookImage img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 700px) {
    .bookImage {
        width: 70%;
    }

}


/*.bookImage {
    float:right;
    margin-top: 40px;
    margin-right: 20px;
}*/

.bookText {
    width: 90%;
    font-size: 20px;
    /*line-height: 15px;*/
    color: black;
    /**/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notInStock{
    color: #9a2121;
}

.delButton{
    height: 40px;
    color: whitesmoke;
    background-color: #9a2121;
}

Form {
    position: relative;
}

/*.container{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    min-width: 800px;
}
.containerLoading{
    filter: blur(8px);
}

@media (max-width: 600px) {
    .container{
        min-width: auto;
    }
}*/