.nlink {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.crumb + .crumb:before {
    content: "/";

}

.cr-link {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.nlink:hover {
    color: whitesmoke;
    text-decoration: none;
}

.nlink:visited {
    text-decoration: none;
}
.book-page {
    color:whitesmoke;
}

.bookImage {
    float:right;
    margin-top: 40px;
    margin-right: 20px;
}

.bookText {
    margin-left: 20px;
    margin-top: 40px;
    float:left;
    color: black;
}

.notInStock{
    color: #9a2121;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    min-width: 800px;
}
.containerLoading{
    filter: blur(8px);
}

@media (max-width: 600px) {
    .container{
        min-width: auto;
    }
}