.orderCardBody {
    margin-top: 30px;
    flex: 1 1 300px;
    padding: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    font-size: 13px;


}

.cardImage {
    width: 80%;
}

.cardImage img {
    max-width: 100%;
    height: auto;
}

.book{
    width: 100%;
    font-size: 20px;
    /*line-height: 15px;*/
    color: black;
    /**/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notInStock{
    color: #9a2121;
}

Form {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.link {
    color: black;
    font-size: 20px;
    text-decoration: none;
    background-color: transparent;
}
.link:hover {
    text-decoration: none; /* Убираем подчёркивание */
}

.link:visited {
    text-decoration: none;
}

/*.cardImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
*/

.delivButton, .paidButton{
    font-size: 13px;
    text-decoration: none;
    width: 60%;
    height:25px;
    color: black;
    background-color: whitesmoke;
    border-color: #478584;
    display: flex;
    margin-top: 5px;
}
.cancelButton{
    text-decoration: none;
    width: 25%;
    height:25px;
    font-size: 25px;
    color: whitesmoke;
    background-color: #478584;
    border-radius: 25px 25px 25px 25px;
    border-color: #478584;
    display: inline-block;
}
.cancelButton:hover {
    background-color: #97c7c6;
    color: #ffffff;
    /*padding: 5px 10px;*/
    border-radius: 25px 25px 25px 25px;
    border-color: #478584;
}

.cancelButton:disabled,
.cancelButton[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}