body {
  background: whitesmoke;
  font-family: Gotham Pro Medium,sans-serif;
  color: whitesmoke;
  /*margin-top: 0 !important;*/
  height: 100%;
  width: 100%;
}

/*.cart {
  width: 65px;
  height: 100%;
  color: whitesmoke;
  float:right;
  position: relative;
  border:black;
}
.logocart{
  width: 100%;
  height: 100%;
  background-color: #97c7c6;
}
.logoauth{
  width: 100%;
  height: 100%;
  color: whitesmoke;
}
.auth{
  background-color: #97c7c6;
  float:left;
  height: 100%;
  width: 65px;

}
.auth:active{
  background-color: #478584;
}
*/
div.wrap {
  width: 90%;
  height: 70px;
  position: relative;
}
