.card{
    width: 90%;
    margin-bottom: 30px;
    background-color: #97c7c6;
    padding: 4px;
    height: 90%;
}

.book{
    width: 100%;
    font-size: 25px;
    line-height: 25px;
    color: black;
}

.notInStock{
    color: #9a2121;
}

.link {
    color: black;
    font-size: 25px;
    text-decoration: none;
    background-color: transparent;
}
.link:hover {
    text-decoration: none; /* Убираем подчёркивание */
}

.link:visited {
    text-decoration: none;
}

.cardImage{
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
}

.cardButton{
    text-decoration: none;
    width: 25%;
    height:25px;
    font-size: 25px;
    color: whitesmoke;
    background-color: #478584;
    border-radius: 25px 25px 25px 25px;
    border-color: #478584;
    display: inline-block;
}
.cardButton:hover {
    background-color: #97c7c6;
    color: #ffffff;
    /*padding: 5px 10px;*/
    border-radius: 25px 25px 25px 25px;
    border-color: #478584;
}

.cardButton:disabled,
.cardButton[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}