.options {
    position: absolute;
    top: 240px;
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;
    font-size: 20px;
}
.link {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.link:hover {
    text-decoration: none; /* Убираем подчёркивание */
}

.link:visited {
    text-decoration: none;
}